.fine-block {
  font-family: Montserrat-Bold, sans-serif;
  font-size: 14px;
  line-height: 175%;
  color: $text-card;
}
.fine-block__yellow-card {
}
.fine-block__red-card {
}
.fine-block__update {
}
