.page-aside {
  @media (min-width: $tablet-width) {
    margin-top: 4px;
  }
}
.page-aside__wrapper {
  margin: 0 auto;
  padding: 0  15px 0 10px;
  @media (min-width: $tablet-width) {
    margin: 0;
    width: 260px;
  }
}
