.page-main {
  background-color: $bgc-basic;
}
.page-main__wrapper {
}
.page-main__title {
  color: $text-main;
  line-height: 140%;
  font-size: 42px;
  font-family: Montserrat-Bold, sans-serif;
  margin: 0;
}
