.person-block {
  display: flex;
  align-items: center;
  width: 260px;
}
.person-block__img {
  margin-right: 8px;
}
.person-block__nick {

  font-family: Montserrat-SemiBold, sans-serif;
  // font-size: 16px;
  line-height: 116.88%;
  color: $text-nick;
  margin: 0;
  font-size: 16px;
}
