.s-card {
  font-family: Montserrat-SemiBold, sans-serif;
  line-height: 116.88%;
  color: $text-s-card;
}
.s-card__title-city {
  font-size: 16px;
}
.s-card__weather-block {
}
.s-card__temperature {
  font-size: 36px;
  font-family: Montserrat-Medium, sans-serif;
}
.s-card__description {
}
.s-card__marker {
}
.s-card__stadium-name {
}
.s-card__person-icon {
}
.s-card__capacity {
  font-size: 14px;
}
