.team {
  &--visible {
    animation: pulse 0.65s ease-in-out forwards;
  }
}
.team__shell {
}
.team__first {
}
.team__second{}
.team__lead{}
.team__composition-title {
  margin: 24px 0 0 0;
  text-align: center;
  @media (min-width: $desktop-width) {
    text-align: start;
    margin: 28px 0 0 28px;
  }
}
.team__composition-title--second{
  @media (min-width: $desktop-width) {
    margin-top: 26px;
  }
}
.team__composition-title--lead{
  margin-top: 20px;
}
.team__list {
  padding: 0 6px;
  list-style-type: none;
	counter-reset: num;
  @media (min-width: $intermediate) {
   padding: 8px;
  }
  @media (min-width: $desktop-width) {
    padding: 3px 18px;
  }
}

.team__list--second{
  counter-reset: num 11;
  @media (min-width: $desktop-width) {
    margin-top: 15px;
  }
}
.team__list--trainer{
  @media (min-width: $desktop-width) {
    margin-top: 15px;
  }
}
.team__item {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  @media (min-width: $intermediate) {
    display: grid;
    grid-template-columns: 30px 260px auto auto;
  }
  @media (min-width: $desktop-width) {
    grid-template-rows: 46px;
    grid-template-columns: 418px 250px 105px;
  }
  &:nth-child(odd){
    background-color: $bgc-grey;
  }
  &+&{
    margin-top: 12px;
    @media (min-width: $intermediate) {
      margin-top: 0;
    }
  }
  &::before{
    content: counter(num);
	  counter-increment: num;
    display: block;
    width: 28px;
    text-align: center;
    margin-top: 4px;
    @media (min-width: $desktop-width) {
      position: absolute;
      top: 50%;
      left: 27px;
      transform: translate(-50%, -50%);
      margin-top: 0;
    }
  }
}
