.team-lineups {
}
.team-lineups__shell {
}
.team-lineups__header {
}
.team-lineups__link {
  color: $text-team;
  font-size: 12px;
  line-height: 116.88%;
  text-decoration: none;
}
.team-lineups__img {
}
