html {
  box-sizing: border-box;
}

*,*:before,*:after{
  box-sizing: inherit;
}
body {
  font-family: Montserrat-SemiBold, sans-serif;
  font-weight: 600;
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas:
    'header'
    'content'
    'aside'
    'footer';
}
.page-header{
  grid-area: header;
}
.page-main{
  grid-area: content;
}
.page-aside{
  grid-area: aside;
}
.page-footer{
  grid-area: footer;
}
.main-title{
  color: $text-title;
  text-transform: uppercase;
  // font-size: 14px;
  line-height: 140%;
  font-family: Montserrat-Bold, sans-serif;
  font-size: 24px;
}
