html {
  box-sizing: border-box;
}

*,*:before,*:after{
  box-sizing: inherit;
}
body {
  font-family: Montserrat-SemiBold, sans-serif;
  font-weight: 600;
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas:
    'header'
    'content'
    'footer';
}
.page-header{
  grid-area: header;
}
.page-main{
  grid-area: main;
}
.page-aside{
  grid-area: aside;
}
.page-footer{
  grid-area: footer;
}
.base__main-title {
  color: $text-title;
  text-transform: uppercase;
  line-height: 140%;
  font-family: Montserrat-Bold, sans-serif;
  font-size: 24px;
  @media (min-width: $desktop-width) {
    font-size: 14px;
  }
}
.base{
  grid-area: content;
  background-color: $bgc-basic;
}
.base__body-wrapper{
  display: grid;
  font-family: Montserrat-SemiBold, sans-serif;
  font-weight: 600;
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas:
    'main'
    'aside';
  @media (min-width: $tablet-width) {
    justify-content: space-between;
    grid-template-columns: minmax(480px, 829px) 260px;
    grid-template-areas:
      'main aside';
  }
  @media (min-width: $desktop-width) {
    justify-content: space-between;
    width: 1100px;
    margin: 0 auto;
  }
}
