//background color:
$bgc-basic: #f1f9ff;
$bgc-white: #ffffff;
$bgc-grey: #F8F8F8;
$border-card: #C4C4C4;

//text
$text-main: #021B31;
$text-team: #184272;
$text-title: #C1C1C1;
$text-nick: #021B31;
$text-card: #525252;
$text-coeff: #0A8BFF;
$text-s-card: #ffffff;
$text-card-up: #C1C1C1;
$text-card-meddle: #021B31;
$text-card-down: #C1C1C1;
$text-card-down2: #C4C4C4;

// border& effect
$border-team-lineups: #EBEBEB;
$border-team-lineups-active: #0A8BFF;
$border-stadium: rgba(255, 255, 255, 0.5);
